#footer {
  background-color: #157489;
  padding: 60px 0;
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    &__logo {
      font-size: 30px;
    }
    &__box {
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #000;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 10px;
      }
      a {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 10px;
      }
    }
  }
}
