#footer {
  background-color: #157489;
  padding: 60px 0;
  .footer {
    display: flex;
    gap: 150px;
    &__logo {
      font-size: 30px;
      font-weight: 600;
      color: #fff;
    }
    &__box {
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 18px;
        font-weight: 500;
        color: #ddd;
        margin-bottom: 10px;
      }
      p,
      a {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        margin-bottom: 12px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        svg {
          font-size: 18px;
        }
      }
    }
  }
}
